/*
Credit to generic.sucks for the website code.
Images belong to their respective owners.
More info can be found at /credit/.
Source: https://github.com/Purpzie/sucks
Generic.sucks source: https://github.com/memework/generic-sucks
*/

#memeplane {
  zoom: 1.;
  -webkit-animation: fly-plane 100ms infinite ease-in-out;
          animation: fly-plane 100ms infinite ease-in-out;
}

html, body {
  touch-action: auto;
}

.images {
  display: none;
}

.vertical-center {
  padding-top: 15px;
  min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -50;
  overflow: hidden;
}

hr{
  height: 2px;
  background-color: #FFBD00;
  border: none;
}

.btn {
  margin-top: 10px;
}

#twitter_button {
  background-color: #1DA1F2 !important;
  border-color: black !important;
  width: 130px !important;
  height: 72px !important;
  padding-top: 15px;
}
#mastodon_button {
  background-color: #563ACC !important;
  border-color: black !important;
  width: 130px !important;
  height: 72px !important;
  padding-top: 15px;
}
#twitter_button:hover,
#twitter_button:active,
#twitter_button:focus {
  background-color: #657786 !important;
  border-color: black !important;
}


#telegram_button {
  background-color: #0088cc !important;
  border-color: black !important;
  width: 130px !important;
  height: 72px !important;
  padding-top: 15px;
}
#telegram_button:hover,
#telegram_button:active,
#telegram_button:focus {
  background-color: #657786 !important;
  border-color: black !important;
}

#discord_button {
  background-color: #7289DA !important;
  border-color: black !important;
  width: 130px !important;
  height: 72px !important;
  padding-top: 15px;
}
#discord_button:hover,
#discord_button:active,
#discord_button:focus {
  background-color: #657786 !important;
  border-color: black !important;
}

#github_button {
  background-color: #f5f5f5 !important;
  border-color: black !important;
  color: black;
  width: 130px !important;
  height: 72px !important;
  padding-top: 15px;
}
#github_button:hover,
#github_button:active,
#github_button:focus {
  background-color: #657786 !important;
  border-color: black !important;
}
#vrchat_button {
  background-color: gray !important;
  border-color: black !important;
  width: 130px !important;
  height: 72px !important;
  padding-top: 10px;
}
#vrchat_button:hover,
#vrchat_button:active,
#vrchat_button:focus {
  background-color: #657786 !important;
  border-color: black !important;
}

#steam_button {
  background-color:#171a21 !important;
  border-color: black !important;
  width: 130px !important;
  height: 72px !important;
  padding-top: 15px;
}
#steam_button:hover,
#steam_button:active,
#steam_button:focus {
  background-color: #657786 !important;
  border-color: black !important;
}

#fa_button {
  background-color: #FAAF3A !important;
  border-color: black !important;
  width: 130px !important;
  height: 72px !important;
  padding-top: 12px;
}
#fa_button:hover,
#fa_button:active,
#fa_button:focus {
  background-color: #657786 !important;
  border-color: black !important;
}
